.main_content{
    max-width: 1368px;
    margin-left: 20%;
    margin-right: 20%;
}
.table_menu li {
    display: inline-block;
    margin: 0 10px;
}

.table_menu_footer li {
    display: inline-block;
    margin: 0 10px;
}

.table_menu li:nth-child(1) {
    width: 40%
}

.table_menu h2{
    font-size: 2em;
}

.border_bottom {
    border-bottom: 1px solid;
}

.archive_ul{
    list-style-type: none;
    padding-left: 10px;
}

.footer_index {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.footer_p {
    margin-bottom: 30px;
    margin-left: 26%;
    margin-right: 26%;
    text-align: center;
}

.social_block{
    list-style-type: none;
}

.social_block li {
    display: inline-block;
}

.social_block img {
    width: 30px;
    height: 30px;
}
.table_style{
    border: 1px solid #333;
    width: 94%;
    text-align: center;
    margin: 20px 3% 0 3%;
    border-collapse: collapse;
}

.table_style td{
    border: 1px solid;
}

.img-map {
    text-align: center;
}

.form-input-5 {
    display: inline-block;
    margin-bottom: 20px;
    width: 48%;
}

.form-input-10 {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.text_in_section {
    margin-bottom: 10px;
}

.grey_text {
    color: grey;
}

.footer_nav {
    text-align: center;
    padding-bottom: 40px;
}

.footer_copyright {
    text-align: center;
    padding-bottom: 60px;
}

.body {
    background-color: aliceblue;
}

.body_article {
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.body_section {
    padding: 50px 100px 50px 100px;
}

.article_button {
    float: right;
    position: inherit;
    margin-right: -120px;
}

.section_img_block {
    position: inherit;
    margin: -50px -100px 50px -100px;
}

.section_footer {
    margin-top: 45px;
}
.section_footer ul{
    margin-left: -42px;
}

.section_footer  li{
    display: inline-block;
}
.section_footer  li:nth-child(1){
    width: 70%;
}

.section_h2 {
    font-size: 33px;
}

.section_h2_hr::after {
    display: block;
    content: "";
    width: auto;
    height: 1px;
    background-color: #c7c7c7;
    margin-top: 10px;
}

.footer_copyright::before {
     display: block;
     content: "";
     width: 40%;
     height: 1px;
     background-color: #c7c7c7;
     margin-top: 10px;
     margin-left: 30%;
 }

.footer_p::before {
    display: block;
    content: "";
    width: auto;
    height: 1px;
    background-color: #c7c7c7;
    margin-top: 10px;
}

.grey_text_22 {
    font-size: 22px;
    color: grey;
}

.footer_color {
    background-color: #5d6bb3;
}

.archive_inline {
    display: inline-block;
}

.archive_inline_left {
    float: left;
    width: 350px;
}

.archive_inline_right {
    float: right;
    width: 350px;
}

.mar_left_70 {
    margin-left: 70%;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

a {
    color: #ffb658;
}

a:hover {
    background-color: green;
    color: white;
}

p::selection ,h2::selection, h1::selection, em::selection, blockquote::selection, li::selection{
    color: #5d6bb3;
    background-color: white;
}